*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start nav1  */
.nav1{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 150px;  
    top: 0;
    z-index: 3;
    border-bottom: 1px solid rgb(221, 216, 216);
}
 
/* start .nav-left  */
.nav-left{
    display: flex;
    align-items: center;
    position: relative; 
    margin-left: 50px;
}
.inp{
    border: 0px;
    background-color: #fdfdfd;
    color: #606770;
    padding: 10px 40px;
    margin-left: 15px;
    font-size: 20px;
}
.inp:focus{
    outline: none;
}
.fa-search{
    position: absolute;
    top: 67px;
    left: 25px;
    font-size: 17px;
    color: #606770;
    outline: none;
}
/* end .nav-left  */

/* start .nav-middle  */
.nav-middle{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.p{
    font-size: 35px;
    border: 3px solid #606770;
    padding: 5px 15px;
    margin-right: 160px; 
}
/* end .nav-middle  */


/* start nav-right  */
.nav-right{
    display: flex;
    align-items: center;
    position: relative;
}

.icons{
    position: absolute;
    top: 35px;
    right: 117px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px 7px;
    background-color: #705bdb;
    color: aliceblue;
    transition: 0.4s ease ;
}
.icons:hover{
    transform:translate(5px);
}

.con{
    margin-right: 80px;
    padding: 10px 40px; 
    font-size: 25px;
}

.aa{
    padding: 10px;
    color:#606770 ;
}
.aa:hover{
    color: black;
}
/* end .nav-right  */
/* end nav1  */
/* ---------------------------------------------------- */

/* start nav2  */

.nav2{
    top: 1000px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}
.home{
    display: flex;
    align-items: center; 
}
.home a{
    padding: 20px;
    color: #53585e;
    text-decoration: none;
    font-weight: bold;
}
.home a:hover{
    color: #af2caf;
}
/* end nav2   */

/* start nav3 */
.nav3{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #e4e8eb;
}
.therd{
    display: flex;
    margin-left: 80px;
    margin-top: 10px;
}
.therd a{
    text-decoration: none;
    font-weight: bold;
}
.therd a:hover{
    color: #7a6dc4;
}


.nav3 p{
    margin-left: 10px;
    margin-right: 10px;
}
/* end nav3 */

/* ------------------------------------------------------- */

/* start sction 1 */
.section1{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content:center;
    margin-top: 50px;
    border-bottom: 1px solid #b5bac1;
    
}
.para1{
    margin-left: 70px;
    margin-top: 10px;
    padding-right: 250px;
    padding-left: 100px;
    
}
.para1 h2{
    margin-bottom: 30px;
    margin-top: 10px;
    
}
.para1 p{
    font-size: 20px;
    color: #868a8f;
}
.img1{
    padding-left: 100px;
}
/* end section1 */

/* ----------------------------------------------------- */


/* start section 2 */
.team{
    text-align: center;
    margin-top: 60px;
    font-size: 30px;

}
.section2{
    height: 400px;
    border-bottom: 1px solid #b1b3b6;

}
.divAll{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.taha{
    width: 120px;
    height: 100px;
    border-radius: 50%;
}
.firest{
    padding: 20px;
    margin-left: 20px;
}
.firest p{
    color: #606770;
    font-size: 20px;
}
/* end section2 */

/* ------------------------------------------------------ */


/* start article  */
.article{
    margin-top:80px;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid rgba(155, 153, 153, 0.479);
    
    
}
.div-article{
    display: flex;
    justify-content:space-around;
    
}
/* start article left  */
.article-left{
    display: flex;
    width:400px;
    height: 200px;
}
 
/* start .icon-left  */
.icon-left{
    color: #6e0f7a;
    font-size: 35px;
}
/* end .icon-left  */


/* start hp-left  */
.hp-left{
    margin-left:10px; 

}
.hp-left h2{
    color: #2d3136;

}
.hp-left p{
    margin-top: 10px;
    color: #606770;
}
/* end article .hp-left  */


/* start .article-middle  */
.article-middle{
    width:400px;
}
.article-middle{
    display: flex;
    width:400px;
    height: 200px;
}

/* start icon-middle  */
.icon-middle{
    color: #6e0f7a;
    font-size: 35px;
}
/* end icon-middle  */

/* start hp-middle  */
.hp-middle{
    margin-left:10px;
}
.hp-middle h2{
    color: #2d3136;
}
.hp-middle p{
    margin-top: 10px;
    color: #606770;
}
/* end .hp-middle  */
/* end .article-middle  */

/* start .article-right  */
.article-right{
    width:400px;
}
.article-right{
    display: flex;
    width:400px;
    height: 200px;
}
/* start .icon-right  */
.icon-right{
    color: #6e0f7a;
    font-size: 35px;
}
/* end .icon-right  */

/* start .hp-right  */
.hp-right{
    margin-left:10px;
}
.hp-right h2{
    color: #2d3136;
}
.hp-right p{
    margin-top: 10px;
    color: #606770;
}
/* end .hp-right  */
/* end .article  */


/* start footer  */
.all {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    
    margin-top:30px;
}

/* start .left-footer  */
.left-footer{ 
    margin-left: 80px;
}
.left-p p{
    margin-top: 25px;
    padding-top: 7px;
    font-weight: bold;
}
.p1{
    color: rgb(129, 126, 123);
}
/* end .left-footer  */

/* start left2-footer  */
.left2-footer{
    margin-top: 30px;
}
.left2-p p{
    margin-top: 25px;
    padding-top: 7px;
    font-weight: bold;
}
/* end .left2-footer  */

/* start .center-p */
.center-p{
    margin-top: 55px;
}
.center-p p{
    margin-top: 25px;
    padding-top: 7px;
    font-weight: bold;
}
/* end center-p  */

/* start .right-p  */
.Promo {
    margin-top: 35px;
}
.Promo img{
    width: 300px;
    height: 130px;
}
.ap {
    margin-top: 10px;
    
}
.ap a{
    text-decoration: none;
    font-weight: bold;
}
.ap p{
    margin-top: 5px;
}
/* end .right-p  */


/* start info  */
.info {
    margin-right: 100px;
    margin-top: 30px;
}

/* start location  */
.location{
    display: flex;    
}
.location i{
    color: #6e0f7a;
    font-size: 20px;
}
.location p{
    padding-left: 10px;
    color: #606770;
    font-weight: bold;
}
/* end .location  */

/* start .phone  */
.phone{
    display: flex;
    margin-top: 20px;
}
.phone i{
    color: #6e0f7a;
    font-size: 20px;
}
.phone p{
    padding-left: 10px;
    color: #606770;
    font-weight: bold;
}
/* end .phone  */

/* start email  */
.email{
    display: flex;
    margin-top: 20px;
}
.email i{
    color: #6e0f7a;
    font-size: 20px;
}
.email p{
    padding-left: 10px;
    color: #606770;
    font-weight: bold;
}
/* end .email  */

/* start input  */
.input{
    position: relative;
    top: 20px;
}
.input h2{
    font-weight: bold;
    color: #2d3136;
}
.email-inp{
    position: relative;
    top: 15px;
    width: 300px;
    height: 50px;
    padding-left: 10px;
}
.send{
    position: absolute;
    right: 1px;
    top: 42px;
    width: 85px;
    height: 50px;
    background-color: #8f289c;
    color: #d7d9dd;
    font-size: 20px;
    border: none;
}
.send:hover{
    background-color: #6e0f7a;
}
/* end input  */

/* star .link-end  */
.link-end{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.link-end span{
    font-size: 20px;
    font-weight: bold;
    color: #8f289c;
}
/* end .link-end  */
/* end footer  */