*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* start nav1  */
.nav1{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 150px;  
    top: 0;
    z-index: 3;
    border-bottom: 1px solid rgb(221, 216, 216);
}
 
/* start .nav-left  */
.nav-left{
    display: flex;
    align-items: center;
    position: relative; 
    margin-left: 50px;
}
.inp{
    border: 0px;
    background-color: #fdfdfd;
    color: #606770;
    padding: 10px 40px;
    margin-left: 15px;
    font-size: 20px;
}
.inp:focus{
    outline: none;
}
.fa-search{
    position: absolute;
    top: 67px;
    left: 25px;
    font-size: 17px;
    color: #606770;
    outline: none;
}
/* end .nav-left  */

/* start .nav-middle  */
.nav-middle{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.p{
    font-size: 35px;
    border: 3px solid #606770;
    padding: 5px 15px;
    margin-right: 160px; 
}
/* end .nav-middle  */


/* start nav-right  */
.nav-right{
    display: flex;
    align-items: center;
    position: relative;
}

.icons{
    position: absolute;
    top: 35px;
    right: 117px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px 7px;
    background-color: #705bdb;
    color: aliceblue;
    transition: 0.4s ease ;
}
.icons:hover{
    transform:translate(5px);
}

.con{
    margin-right: 80px;
    padding: 10px 40px; 
    font-size: 25px;
}

.aa{
    padding: 10px;
    color:#606770 ;
}
.aa:hover{
    color: black;
}
/* end .nav-right  */
/* end nav1  */
/* ---------------------------------------------------- */

/* start nav2  */
.nav2{
    top: 1000px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}
.home{
    display: flex;
    align-items: center; 
}
.home a{
    padding: 20px;
    color: #41363f;
    text-decoration: none;
    font-weight: bold;
}
.home a:hover{
    color: #c528bd;
}
/* end nav2   */

/* ------------------------------------------- */

/* start nav3 */
.nav3{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #e9ecf0;
}
.therd{
    display: flex;
    margin-left: 80px;
    margin-top: 10px;
}
.therd a{
    text-decoration: none;
    font-weight: bold;
    color: #2b1888;
}
.therd a:hover{
    color: #5e4cc4;
}


.nav3 p{
    margin-left: 10px;
    margin-right: 10px;
}
/* end nav3 */


/* -------------------------------------------- */

/* start article2  */
/* start div-rticle2  */
.div-rticle2{
    width: 100%;
    height: 640px;
    border-bottom: 1px solid #d7d9dd;
}

/* start art-h2  */
.art-h2{
    padding-top: 70px;
    text-align: center;
}
/* end .art-h2  */

/* start .img-types  */
.img-types{
    display: flex;
    justify-content: space-between;
}

/* start .art-left  */
.art-left img {
    margin-top:60px ;
    margin-left: 130px;
    width:600px ;
    height: 480px ;

}
/* end .art-left  */

/* start .art-right  */
.art-right{
    margin-top: 60px;
    margin-right: 130px;
    width: 650px;
    height: 800px;
    
}
.art-right h1{
    color: #211b22;
}

.p2 p{
    padding-top: 10px;
    color: #7b8899;
    margin-top: 20px;  
    font-size: 20px;
}
.p3{
    margin-top: 50px;
    font-size: 35px;
    color: #943ca0;
}
.input{
    margin-top: 20px;
}
.input label{
    padding-left: 5px;
    font-weight: bold;
}
.number{
    width: 90px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid  #8f4099;

}
.number:hover{
    color:   #790888;
}
.shop {
    margin-top: 45px; 
}
.shop a{
    width: 170px;
    height: 40px;
    border: 1px solid ;
    box-shadow: #7b8899;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    background-color:#943ca0 ;
    color: aliceblue;
    transition:  0.4s ease;
}
.shop a:hover{
    transform:translate( 5px ,5px) ;
    background-color:#402044 ; 
}
/* end .art-right  */
/* end .div-article  */
/* end article2  */

/* ------------------------------------------------------- */

/* start section  */
/* start .div-sec  */
.div-sec3{
    width: 100%;
    height: 650px;
    position: relative;
    top: 0px;
    background-color: #f1f5f5;
}

/* start h2  */
.h2{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: #2e2c2c;
    
}
/* end h2  */

/* start .div-img3  */
.div-img3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
/* start sec3-left   */
.sec3-left{
    position: relative;
}
/* :start im-left  */
.im-left{
    box-shadow: 0px 10px 10px #ccc ;
    width: 450px;
    height: 400px;

}
.types-left{
    width: 450px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background-color: #fdfdfd;
    
}
.types-left h3{
    padding-top: 10px;
    padding-left: 180px;
    color: #943ca0;
    text-decoration: ;

}
.types-left p{
    padding-top:10px ;
    padding-left: 150px;
    color: #606770;


}
.types-left h4{
    padding-top:10px ;
    padding-left: 205px;
    color: #943ca0;
    font-weight: bold;
}
/* end im-left  */
/* end .sec3-left  */


/* start sec3-middle  */
/* start im-middle  */
.sec3-middle{
    position: relative;

}
.im-middle{
    box-shadow: 0px 10px 10px #ccc ;
    width: 450px;
    height: 400px;
}
.types-middle{
    width: 450px;
    height: 90px;
    position: absolute;
    bottom: 0px;
    background-color: #fdfdfd;
}
.types-middle h3{
    padding-top: 10px;
    padding-left: 190px;
    color: #943ca0;

}
.types-middle p{
    padding-top:5px ;
    padding-left: 150px;
    color: #606770;

}
.types-middle h4{
    padding-top:7px ;
    padding-left: 205px;
    color: #943ca0;
    font-weight: bold;
}
/* end im-middle  */
/* end sec3-middle  */


/* start sec3-right */
/* start im-right  */
.sec3-right{
    position: relative;
}
.im-right{
    box-shadow: 0px 10px 10px #ccc ;
    width: 450px;
    height: 400px;
}
.types-right{
    width: 450px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background-color: #fdfdfd;
}
.types-right h3{
    padding-top: 10px;
    padding-left: 180px;
    color: #943ca0;

}
.types-right p{
    padding-top:10px ;
    padding-left: 150px;
    color: #606770;

}
.types-right h4{
    padding-top:10px ;
    padding-left: 205px;
    color: #943ca0;
    font-weight: bold;
}

/* end im-right  */
/* end sec3-right  */
/* end .div-img3  */
/* end section3  */

/* ---------------------------------------------------------- */

/* start footer  */
.all {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    
    margin-top:30px;
}

/* start .left-footer  */
.left-footer{ 
    margin-left: 80px;
}
.left-p p{
    margin-top: 25px;
    padding-top: 7px;
    font-weight: bold;
}
.p1{
    color: rgb(129, 126, 123);
}
/* end .left-footer  */

/* start left2-footer  */
.left2-footer{
    margin-top: 30px;
}
.left2-p p{
    margin-top: 25px;
    padding-top: 7px;
    font-weight: bold;
}
/* end .left2-footer  */

/* start .center-p */
.center-p{
    margin-top: 55px;
}
.center-p p{
    margin-top: 25px;
    padding-top: 7px;
    font-weight: bold;
}
/* end center-p  */

/* start .right-p  */
.Promo {
    margin-top: 35px;
}
.Promo img{
    width: 300px;
    height: 130px;
}
.ap {
    margin-top: 10px;
    
}
.ap a{
    text-decoration: none;
    font-weight: bold;
}
.ap p{
    margin-top: 5px;
}
/* end .right-p  */


/* start info  */
.info {
    margin-right: 100px;
    margin-top: 30px;
}

/* start location  */
.location{
    display: flex;    
}
.location i{
    color: #6e0f7a;
    font-size: 20px;
}
.location p{
    padding-left: 10px;
    color: #606770;
    font-weight: bold;
}
/* end .location  */

/* start .phone  */
.phone{
    display: flex;
    margin-top: 20px;
}
.phone i{
    color: #6e0f7a;
    font-size: 20px;
}
.phone p{
    padding-left: 10px;
    color: #606770;
    font-weight: bold;
}
/* end .phone  */

/* start email  */
.email{
    display: flex;
    margin-top: 20px;
}
.email i{
    color: #6e0f7a;
    font-size: 20px;
}
.email p{
    padding-left: 10px;
    color: #606770;
    font-weight: bold;
}
/* end .email  */

/* start input  */
.input{
    position: relative;
    top: 20px;
}
.input h2{
    font-weight: bold;
    color: #2d3136;
}
.email-inp{
    position: relative;
    top: 15px;
    width: 300px;
    height: 50px;
    padding-left: 10px;
}
.send{
    position: absolute;
    right: 1px;
    top: 42px;
    width: 85px;
    height: 50px;
    background-color: #8f289c;
    color: #d7d9dd;
    font-size: 20px;
    border: none;
}
.send:hover{
    background-color: #6e0f7a;
}
/* end input  */

/* star .link-end  */
.link-end{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.link-end span{
    font-size: 20px;
    font-weight: bold;
    color: #8f289c;
}
/* end .link-end  */
/* end footer  */
